@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    min-height: 720px;
    margin: 50px auto;
}

header {
    position: relative;
    padding-bottom: 50px;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .admin-mode-warn {
    position: absolute;
    margin-top: 0;
    margin-left: 40%;
    margin-right: 40%;
    top: -10px;
    background: #ff3f3f;
    -webkit-box-shadow: -30px 19px 107px -14px rgba(96, 96, 96, 1);
    -moz-box-shadow: -30px 19px 107px -14px rgba(96, 96, 96, 1);
    box-shadow: -30px 19px 107px -14px rgba(96, 96, 96, 1);
    z-index: 1000;
    padding: 15px;
    cursor: pointer;
}

header .admin-mode-warn p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.start-banner {
    position: relative;
    margin: 0 0;
    width: 100%;
    background: #bcbcbc url("img/boxes.jpg") no-repeat center center;
    height: 500px;
    background-size: cover;
    background-blend-mode: multiply;
}

.start-banner:after {
    content: "Заказывайте всё что душе угодно";
    position: absolute;
    top: 175px;
    left: 820px;
    width: 400px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.start-banner:before {
    content: "Мы всегда доставим вовремя";
    position: absolute;
    top: 280px;
    left: 945px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.start-banner .go-to-get-order {
    position: absolute;
    top: 200px;
    left: 185px;
    width: 350px;
    background: #bc001e;
    border-radius: 20px;
    padding: 30px 20px;
    cursor: pointer;
    border: 3px solid #bc001e;
    color:  #fff;
    transition: all 500ms ease;
}

.start-banner .go-to-get-order:hover {
    background: #fff;
    color:  #bc001e;
    transform: scale(1.01);
}

.start-banner .go-to-get-order h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}

.receive-page, .login-page, .delivery-page{
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.receive-page .err-message, .login-page .err-message, .delivery-page .err-message{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin-top: 150px;
    height: 1rem;
}

.receive-page .secret-code-input,
.login-page .login-input,
.login-page .password-input,
.delivery-page .secret-code-input,
.delivery-page .description-input,
.delivery-page .size-input {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 20px;
    width: 40%;
    padding: 10px 10px;
    border: 0;
    outline: none;
    border-radius: 0;
    appearance: none;
    font-size: 24px;
    border-bottom: 3px solid gray;
    transition: border-color 300ms ease;
}

.receive-page .secret-code-input:focus,
.login-page .login-input:focus,
.login-page .password-input:focus,
.delivery-page .secret-code-input:focus,
.delivery-page .description-input:focus,
.delivery-page .size-input:focus {
    border-color: #bc001e;
}

.receive-order, .login-btn, .logout-delivery, .deliver-order {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    cursor: pointer;
    border: 3px solid gray;
    transition: all 500ms ease;
}

.receive-order:hover,
.login-btn:hover,
.logout-delivery:hover,
.deliver-order:hover {
    border-color: #bc001e;
    transform: scale(1.01);
}

.receive-order h2,
.login-btn h2,
.logout-delivery h2,
.deliver-order h2 {
    text-align: center;
    font-weight: 600;
}

footer {
    text-align: center;
    margin-top: 250px;
    font-weight: 300;
    font-size: 18px;
}

/*.about h2, .contacts h2 {*/
/*    text-align: center;*/
/*    font-weight: 600;*/
/*    font-size: 25px;*/
/*}*/

/*.about h3, .contacts h3 {*/
/*    margin-top: 30px;*/
/*    text-align: center;*/
/*    font-weight: 300;*/
/*    font-size: 15px;*/
/*}*/